body{
  background-color:#B8FAF7;
}
table {
  border-collapse: collapse;
}
tr, thead, tr ,td{
  text-align: center;
  border: solid 1px black;
  padding:10px;
  min-width: 40px;
}
thead{
  font-weight: bold;
}
header{
  margin: -10px;
  width:100%;
  display: inline-block;
  background: linear-gradient(to right,#5E86B0,#93C1F2);
  padding:20px;
  padding-top:0px;
  padding-left:40px;
  margin-bottom: 30px;
  box-shadow: 1px 1px #CFD9DE;
  color: white;

}

header h1{
  text-shadow: 1px 1px black;
   display:inline-block;
   height: 10px;
   width:85%;
   font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;


 }
 header a{
   text-decoration: none;
   display: inline-block;
 }
.plans{
  width:800px;
  margin:0 auto;
  background-color: white;
  padding:10px;
  border-radius: 5px;
  margin-bottom: 30px;
  box-shadow: 1px 1px 1px 1px lightgrey;
}
.plans button{
  margin-top: 5px;
}
